/*fonts css start*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500;700;800&display=swap');
/*fonts css end*/

/*common css start*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p, a, span{
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    font-family: 'M PLUS 1p', sans-serif;
    margin-top: 90px;
}
body.no_scroll {
    overflow: hidden;
}
a, button, input[type=submit], select{
    cursor: pointer;
}
a, a:hover, a:focus, 
button, button:hover, button:focus,
input, input:hover, input:focus, 
textarea, textarea:hover, textarea:focus,
select, select:hover, select:focus{
    outline: 0;
    box-shadow: none;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
.cpc {
    display: block !important;
}
.csp {
    display: none !important;
}
@media (max-width: 900px){
    .cpc{
        display: none !important;
    }
    .csp{
        display: block !important;
    }
}
/*common css end*/

/*commmon grid css start*/
.custom_container {
    width: 100%;
    max-width: 1530px;
    padding: 0px 15px;
    margin: 0px auto;
}
.custom_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.custom_row_reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.custom_col_3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}
.custom_col_4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}
.custom_col_6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.custom_col_8 {
    -ms-flex: 0 0 66.67%;
    flex: 0 0 66.67%;
    max-width: 66.67%;
    padding: 0 15px;
}
.custom_col_12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
a.btn_with_right_arrow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #6A91C1;
    letter-spacing: 4px;
}
a.btn_with_right_arrow span {
    position: relative;
}
a.btn_with_right_arrow span:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #6A91C1;
}
a.btn_with_right_arrow #arrow_right {
    margin-left: 14px;
}
a.btn_with_right_arrow #arrow_right circle {
    stroke: #6A91C1;
}
a.btn_with_right_arrow #arrow_icon {
    fill: #6A91C1;
}
/*commmon grid css end*/

/*page pre-loader css start*/
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    pointer-events: none;
    background-color: #fff;
}
.loader-wrapper .loader {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-top: 3px solid rgba(62, 174, 230, 0.2);
    border-right: 3px solid rgba(62, 174, 230, 0.2);
    border-bottom: 3px solid rgba(62, 174, 230, 0.2);
    border-left: 3px solid rgba(62, 174, 230, 0.8);
    -webkit-animation: loaderSpin 1.5s infinite linear;
    animation: loaderSpin 1.5s infinite linear;
}
@-webkit-keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*page pre-loader css end*/

/*animations css start*/
.io {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
}
.io.move {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
    transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
}
.io.fade {
    opacity: 0;
}
.io.lr {
    -webkit-transform: translate3d(-80px, 0, 0);
    transform: translate3d(-80px, 0, 0);
}
.io.rl {
    -webkit-transform: translate3d(80px, 0, 0);
    transform: translate3d(80px, 0, 0); 
}
.io.upL {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
}
.io.upS {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.downL {
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}
.io.downS {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}
.io.scaleUp {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.io.scaleDown {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.io.rotateL {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.io.rotateR {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.io.delay.delay1 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
}
.io.delay.delay2 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, -webkit-transform 1.0s ease 0.23s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, transform 1.0s ease 0.23s;
}
.io.delay.delay3 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, -webkit-transform 1.0s ease 0.46s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, transform 1.0s ease 0.46s;
}
.io.delay.delay4 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, -webkit-transform 1.0s ease 0.69s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, transform 1.0s ease 0.69s;
}
.io.delay a {
    -webkit-transition: none;
    transition: none;
}
.io.delay .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.delay.delay1 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
}
.io.delay.delay2 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, -webkit-transform 1.0s ease 0.73s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, transform 1.0s ease 0.73s;
}
.io.delay.delay3 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, -webkit-transform 1.0s ease 0.96s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, transform 1.0s ease 0.96s;
}
.io.delay.delay4 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, -webkit-transform 1.0s ease 1.19s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, transform 1.0s ease 1.19s;
}
.io.delay.move .delay_child {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
@media (max-width: 900px) {
    .io.delay.delay1 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay2 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay3 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay4 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay1 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay2 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay3 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay4 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
}
/*animations css end*/

/*header section css start*/
.site_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F6F9FD;
    padding: 25px 15px;
    z-index: 3;
}
.site_header .custom_container {
    width: 100%;
    max-width: 1745px;
    margin: auto;
    padding: 0 !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.site_header .custom_container > a img {
    position: relative;
    z-index: 2;
}
.site_header nav.custom_navbar ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.site_header nav.custom_navbar ul li:not(:first-child) {
    margin-left: 30px;
}
.site_header nav.custom_navbar ul li:last-child {
    margin-left: 70px;
}
.site_header nav.custom_navbar ul li a {
    font-size: 14px;
    font-weight: 700;
    color: #333839;
    line-height: 22px;
    font-family: 'M PLUS 1p', sans-serif;
}
.site_header nav.custom_navbar ul li a.nav_btn {
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #28385E;
    color: #fff;
}
.navbar_toggler {
    padding: 0;
    height: 35px;
    width: 35px;
    border: none;
    outline: none !important;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0px;
    z-index: 9999;
}
.navbar_toggler .navbar_toggler_inner,
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    width: 35px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000000;
    position: absolute;
    left: 0;
    right: 0;
}
.navbar_toggler .navbar_toggler_inner{
    transition: top 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    top: 0;
    bottom: 0;
    margin: auto;
}
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    display: block;
    content: "";
}
.navbar_toggler .navbar_toggler_inner:before {
    transition: top 75ms ease 0.12s,opacity 75ms ease;
    top: -12px;
}
.navbar_toggler .navbar_toggler_inner:after {
    transition: bottom 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    bottom: -12px;
}
.navbar_toggler.open_menu .navbar_toggler_inner {
    transition: top 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(45deg);
    top: 0;
}
.navbar_toggler.open_menu .navbar_toggler_inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease 0.12s;
    opacity: 0;
}
.navbar_toggler.open_menu .navbar_toggler_inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(-90deg);
}
/*header section css end*/

/*footer section css start*/
footer.site_footer .footer_text {
    background-color: #f6f9fd;
    padding: 125px 0;
}
footer.site_footer .footer_text .custom_col_3 {
    display: flex;
}
.footer_text_box.footer_text_about:before {
    display: none;
}
.footer_text_box.footer_text_about p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'M PLUS 1p', sans-serif;
    color: #333839;
    margin-top: 30px;
}
.footer_text_box {
    position: relative;
}
.footer_text_box:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 108px;
    background-color: #CBD5E9;
}
.footer_text_contact_box h5,
.footer_text_box p,
.footer_text_box a,
.footer_text_box h6 {
    font-size: 14px;
    font-weight: 700;
    font-family: 'M PLUS 1p', sans-serif;
    color: #333839;
}
.footer_text_box ul {
    margin: 10px 0 0 18px;
}
.footer_text_box ul li {
    padding: 3px 0;
}
.footer_text_box p,
.footer_text_box a {
    font-weight: 400;
}
.site_footer .footer_text_box.footer_text_image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 108px;
    margin-top: auto;
    padding-left: 18px;
    margin-bottom: 8px;
}
.site_footer .footer_text_box.footer_text_image:before {
    bottom: -2px;
}
.footer_text_contact_box {
    width: 100%;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px;
}
.footer_text_contact_box .footer_text_contact_inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer_text_contact_box .footer_text_contact_inner a:first-child {
    font-size: 14px;
    font-weight: 400;
    font-family: 'M PLUS 1p', sans-serif;
    color: #6A91C1;
    display: table;
    text-decoration: underline;
}
.footer_text_contact_box .footer_text_contact_inner a:last-child {
    font-size: 24px;
    font-weight: 400;
    font-family: 'M PLUS 1p', sans-serif;
    color: #6A91C1;
    display: table;
}
.footer_text_contact_box .footer_text_contact_inner a:last-child span {
    font-size: 14px;
    line-height: 1;
}
.copyright_text {
    padding: 25px 15px;
    text-align: center;
    background-color: #28385E;
}
.copyright_text p {
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    font-family: 'M PLUS 1p', sans-serif;
}
.site_footer .footer_custom_1, 
.site_footer .footer_custom_2, 
.site_footer .footer_custom_3, 
.site_footer .footer_custom_4 {
    padding: 0 15px;
    display: flex;
}
.site_footer .footer_custom_2 {
    margin-left: auto;
    flex: 0 0 250px;
    max-width: 250px;
}
.site_footer .footer_custom_3 {
    flex: 0 0 220px;
    max-width: 220px;
}
.site_footer .footer_custom_4 {
    flex: 0 0 514px;
    max-width: 514px;
}
/*footer section css end*/

/*banner section css start*/
.banner_section {
    position: relative;
}
.banner_section img {
    width: 100%;
}
.banner_section .banner_content {
    position: absolute;
    top: 0;
    left: 210px;
    bottom: 140px;
    margin: auto;
    display: table;
}
.banner_section .banner_content h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 60px;
    color: #516C8D;
    line-height: 100px;
    font-weight: 700;
}
/*banner section css end*/

/*mission section css start*/
.mission_text_sec.mission_content {
    padding: 150px 0 120px;
}
.mission_text_sec.advantage_content {
    padding: 120px 0;
    background-color: #F6F9FD;
    position: relative;
}
.mission_text_sec.advantage_content .mission_text {
    width: 100%;
    max-width: 638px;
    margin: auto;
    position: unset;
}
.mission_section .custom_row {
    margin: 0;
}
.mission_section .custom_col_6 {
    display: flex;
    padding: 0;
}
.mission_text_sec .mission_text {
    position: relative;
    padding: 40px;
    width: 100%;
    z-index: 1;
}
.mission_text_sec.mission_content .mission_text {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
}
.mission_text_sec .mission_image {
    position: relative;
    overflow: hidden;
    padding-top: 54.3%;
    width: 100%;
    z-index: 2;
}
.mission_text_sec .mission_image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.news_section .news_heading .common_title.left_content h3,
.mission_text_sec .mission_text p,
.mission_text_sec .mission_text .common_title.left_content h3 {
    padding-left: 100px;
}
.mission_text .common_title.left_content h3 {
    margin-top: 20px;
}
.mission_text_sec .mission_text > h1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: table;
    font-size: 190px;
    font-weight: 300;
    color: #EFF2FC;
    z-index: -1;
}
.mission_text_sec.mission_content .mission_text > h1 {
    left: auto;
    right: 0;
}
.mission_text_sec.advantage_content .mission_text > h1 {
    left: auto;
    right: 0;
    font-size: 180px;
    color: #fff;
}
.mission_text_sec .mission_text > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 44px;
    color: #303030;
    margin-top: 30px;
}
.news_section .news_heading a.btn_with_right_arrow,
.mission_text_sec .mission_text a.btn_with_right_arrow {
    margin-left: 100px;
    margin-top: 20px;
}
/*mission section css end*/

/*news section css start*/
.news_section {
    padding: 120px 0;
}
.news_section .custom_col_heading {
    flex: 0 0 calc(100% - 865px);
    max-width: calc(100% - 865px);
    padding: 0 15px;
}
.news_section .custom_col_content {
    flex: 0 0 865px;
    max-width: 865px;
    padding: 0 15px;
}
.news_section .news_table {
    display: table;
    width: 100%;
    border-top: 1px solid #EAEAEA;
}
.news_section .news_table_row {
    display: table-row;
}
.news_section .news_table_th, .news_section .news_table_td {
    padding: 50px 0;
    border-bottom: 1px solid #EAEAEA;
    display: table-cell;
    vertical-align: middle;
}
.news_section .news_table_td label {
    display: inline-block;
    text-align: center;
    width: 125px;
    height: 17px;
    line-height: 17px;
    background-color: #EBEFFB;
    border-radius: 9px;
    font-size: 12px;
    color: #333839;
    font-weight: 400;
}
.news_section .news_table_td span {
    display: inline-block;
    font-size: 14px;
    color: #333839;
    font-weight: 400;
    line-height: 24px;
}
.news_section .news_table_td p {
    font-size: 16px;
    color: #333839;
    font-weight: 400;
    line-height: 26px;
}
/*news section css end*/


@media(max-width: 1540px) {
    .site_header .custom_container,
    .custom_container {
        max-width: 1280px;
    }
    .site_footer .footer_custom_2 {
        flex: 0 0 180px;
        max-width: 180px;
    }
    .site_footer .footer_custom_3 {
        flex: 0 0 188px;
        max-width: 188px;
    }
    .banner_section .banner_content h2 {
        font-size: 45px;
        line-height: 70px;
    }
    .mission_text_sec .mission_text > h1 {
        font-size: 140px !important;
    }
    .news_section .news_heading .common_title.left_content h3, .mission_text_sec .mission_text p, .mission_text_sec .mission_text .common_title.left_content h3 {
        padding-left: 48px;
    }
    .news_section .news_heading a.btn_with_right_arrow, .mission_text_sec .mission_text a.btn_with_right_arrow {
        margin-left: 48px;
    }
}
@media(max-width: 1280px) {
    .site_header .custom_container,
    .custom_container {
        max-width: 1167px;
    }
    footer.site_footer .footer_text {
        padding: 70px 0;
    }
    .site_footer .footer_custom_1, 
    .site_footer .footer_custom_2, 
    .site_footer .footer_custom_3, 
    .site_footer .footer_custom_4 {
        padding: 0 15px;
        display: flex;
        flex: 0 0 50%;
        max-width: 50%;
        margin: 30px 0 0;
    }
    .news_section,
    .mission_text_sec.advantage_content,
    .mission_text_sec.mission_content {
        padding: 100px 0;
    }
    .mission_text_sec .mission_text {
        padding-right: 0px;
    }
    .mission_text_sec.advantage_content .mission_text {
        padding-left: 10px;
    }
    .banner_section .banner_content h2 {
        font-size: 40px;
        line-height: 60px;
    }
}
@media(max-width: 1166px) {
    .custom_col_6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
    .site_header .custom_container, 
    .custom_container {
        max-width: 900px;
    }
    .site_header .custom_container > a img {
        max-width: 340px;
    }
    .site_header nav.custom_navbar ul li:not(:first-child) {
        margin-left: 24px;
    }
    .site_header nav.custom_navbar ul li:last-child {
        margin-left: 45px;
    }
    .site_header nav.custom_navbar ul li:not(:first-child) {
        margin-left: 24px;
    }
    .site_header nav.custom_navbar ul li:last-child {
        margin-left: 45px;
    }
    .banner_section .banner_content {
        left: 100px;
    }
    .banner_section .banner_content h2 {
        font-size: 35px;
        line-height: 55px;
    }
    .news_section .custom_col_heading, .news_section .custom_col_content {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px 15px;
    }
    .news_section, .mission_text_sec.advantage_content, .mission_text_sec.mission_content {
        padding: 80px 0;
    }
    .mission_text_sec .mission_text {
        max-width: 100% !important;
        margin: 0;
        padding: 15px !important;
        position: relative !important;
    }
    .mission_text_sec.advantage_content .mission_text {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mission_text_sec .mission_text > h1 {
        font-size: 100px !important;
        left: 10px !important;
        right: auto !important;
    }
    .news_section .news_table_th, .news_section .news_table_td {
        padding: 30px 0;
    }
    .mission_text_sec .mission_text > p {
        margin-top: 10px;
    }
}
@media(max-width: 900px) {
    body {
        margin-top: 70px;
    }
    nav.custom_navbar {
        position: fixed;
        top: 0;
        left: 100%;
        right: -100%;
        bottom: 0;
        background-color: #fff;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;
    }
    nav.custom_navbar.navbar_animate {
        left: 0;
        right: 0;
    }
    .site_header nav.custom_navbar ul {
        display: block;
    }
    .site_header nav.custom_navbar ul li {
        margin: 25px 0 !important;
        text-align: center;
    }
    .banner_section .banner_content h2 {
        font-size: 30px;
        line-height: 48px;
    }
    .news_section, .mission_text_sec.advantage_content, .mission_text_sec.mission_content {
        padding: 50px 0;
    }
    .news_section .news_table_row {
        display: block;
        border-bottom: 1px solid #EAEAEA;
        padding: 10px 0px;
    }
    .news_section .news_table_th, .news_section .news_table_td {
        display: block;
        padding: 10px 0;
        border-bottom: none;
    }
}
@media(max-width: 675px) {
    .site_header .custom_container > a img {
        max-width: 240px;
    }
    footer.site_footer .footer_text {
        padding: 30px 0;
    }
    .site_footer .footer_custom_1, 
    .site_footer .footer_custom_2, 
    .site_footer .footer_custom_3, 
    .site_footer .footer_custom_4 {
        padding: 0 15px;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 30px 0 0;
    }
    .footer_text_contact_box {
        padding: 15px;
    }
    .footer_text_contact_box {
        padding: 15px;
        flex-direction: column;
    }
    .footer_text_contact_box .footer_text_contact_inner {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }
    .footer_text_contact_box .footer_text_contact_inner a {
        margin: 4px 0;
    }
    .copyright_text {
        padding: 20px 15px;
    }
    .banner_section .banner_content {
    left: 20px;
    bottom: auto;
    top: 10px;
}
}